.wrapper {
    position: fixed;
    height: 170px;
    width: 100%;
    background-color: var(--white);
    transition: .3s linear;
}

.header-shrink {
    box-shadow: 0 8px 24px hsla(210, 8%, 62%, .2);
    height: 70px;
    z-index: 100;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav-item {
    font-size: 1.95rem;

    +.nav-item {
        margin-left: 39px;
    }

    &:hover a {
        color: var(--primary);
        transition: .1s linear;
    }
}

.active {

    a {
        color: var(--primary);
        font-weight: 600;
    }
}

.logo {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    img {
        width: 100px;
        transition: all .3s linear;
    }
}

.logo-shrink {

    img {
        width: 70px;
    }
}

.action {}

.search,
.cart,
.user {
    border: none;
    color: var(--text-color);
    margin-left: 0 !important;

    &:hover {
        color: var(--primary);
    }
}

.user {
    padding: 8px 18px;
}

.user_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 350px;
}

.user_content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    img {
        width: 60px;
    }
}

.user_info {}

.user-name {}

.user-date {}